#### 문자열 연산

In [5]:
s1 = "오늘 저녁은"
s2 = "치킨이다"

s3 = s1 + s2
s3

print( s1 + s2 + "! 와 맛있겠다!" + "비비큐로 먹어야지!")

오늘 저녁은치킨이다! 와 맛있겠다!비비큐로 먹어야지!

In [3]:
# 파이썬에서는 문자열 곱셈도 가능합니다.
a = 'winner winner chichen dinner!!!!'
print( a * 3)

winner winner chichen dinner!!!!winner winner chichen dinner!!!!winner winner chichen dinner!!!!

In [15]:
# 문자열과 서로 다른 타입은 연산이 허용되지 않음
# print( a + 10)

#### 형변환
- int()  
- float()  
- str()  
- bool()

In [7]:
name = '홍길동'
point = 90

type(point)

print(name + '님의 점수는 ' + str(point) + '입니다')

홍길동님의 점수는 90입니다

ValueError: could not convert string to float: '홍길동'

In [36]:
str(point) # '90'
float(point) # 90.0
int(3.14) # 3
bool('True') # 논리형으로 변경
str(point) # '90'


# int(name) # 바뀔 수 없는 값은 형 변환시에 에러를 발생시킴

90

In [45]:
# 현재 point는 무슨 타입인가요?
# 형변환 함수를 사용한다고 해서 원본변수가 바뀌는 것은 아닙니다.
type(point)
# 원본변수를 바꿔서 새로운 변수로 사용을 하려면 
x = str(point)
x

y = int(3.14)
y

# 문자열 => 실수형 => 정수형 => 변수저장
z = "3.141592"
k = int( float(z) )
k # 3

type(k)

int

####  표준 입력 input()

In [49]:
a1 = input()

print('입력한 값은:' +  a1)

ㄱㅀ
입력한 값은:ㄱㅀ

In [51]:
# 사용자에게 질문할 내용을 문자열 형태로 적습니다.
a2 = input('너 별명이 뭐니?') 

print('너의 별명은:' + a2)

너 별명이 뭐니?못생김
너의 별명은:못생김

In [55]:
n1 = int( input('숫자입력>')  )  # 문자열로 입력이 들어옵니다.
n2 = int( input('숫자입력>')  )

print('두 숫자의 합:', n1 + n2 )

숫자입력>1
숫자입력>2
두 숫자의 합: 3

### 실습

In [68]:
x1 = input('이름을 입력하세요: ')
x2 = int( input('나이를 입력하세요: ') )

print('-' * 30)
print('이름:', x1)
print('나이:', x2, '세')
print('출생년도:', 2023 - x2 + 1, '년' )

이름을 입력하세요: 홍길동
나이를 입력하세요: 20
------------------------------
이름: 홍길동
나이: 20 세
출생년도: 2004 년

In [76]:
price = int(input("음식의 가격:"))
num = int(input("사람 수:"))

print('-' * 30)
#print('가게에 지불해야 할 금액:' + str(price * num) + '원' )
print('가게에 지불해야 할 금액:' , price * num, '원')

음식의 가격:3
사람 수:4
------------------------------
가게에 지불해야 할 금액: 12 원