#### 반복문 for

> for 변수 in 나열가능한자료 :

리스트 - []안에 값을 나열해 놓은 형식입니다.

In [4]:
for i in [1,2,3] :
    
    print(i, '님 안녕하세요?')

1 님 안녕하세요?
2 님 안녕하세요?
3 님 안녕하세요?

In [8]:
sum1 = 0 # 합계 누적할 변수

for i in [1,2,3,4,5,6,7,8,9,10] :
    sum1 += i

print('리스트라는 요소안에 값의 합:', sum1)

리스트라는 요소안에 값의 합: 55

#### range함수

- 리스트를 생성할 때 일일히 하나씩 다 적는건 한계가 있습니다.  
- range(시작값, 끝값, 점핑값) 을 통해서 리스트를 좀더 쉽게 생성할 수 있습니다.

In [11]:
list1 = list( range(1, 11) ) # 시작값은 포함, 끝값 미만, 점핑값은 생략이 가능
list1

list2 = list( range(2, 11, 2) )
list2

list3 = list( range(1, 11, 1) )
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
for i in range(1, 11) : # 1~10
    print(i, end= ' ')

1 2 3 4 5 6 7 8 9 10

#### 실습
1. 7~200까지 정수 중에서 점핑값을 7로 해서 7의 배수를 가로로 출력

2. 1~9876까지 정수 중에서 13의 배수의 개수를 구하세요.

3. 구구단 단수를 입력받고 for문을 이용해서 구구단을 출력.

In [19]:
for i in range(7, 201, 7) :
    print(i, end= ' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196

In [21]:
cnt = 0

for i in range(1, 9877) :
    if i % 13 == 0 :
       cnt+=1 

print('13의 배수의 개수', cnt)

13의 배수의 개수 759

In [22]:
dan = int(input('구구단 단수: '))

for i in range(1, 10) : # 9번
    print(f'{dan} x {i} = {dan*i}')

구구단 단수: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

#### 중첩반복
- 외부 반복문 안에 내부에서 반복문이 존재하는 형태

In [23]:
for i in range(1, 10) : # 1~9
    
    for j in range(1, 6) : # 1~5
        
        print(i, '-', j) #

1 - 1
1 - 2
1 - 3
1 - 4
1 - 5
2 - 1
2 - 2
2 - 3
2 - 4
2 - 5
3 - 1
3 - 2
3 - 3
3 - 4
3 - 5
4 - 1
4 - 2
4 - 3
4 - 4
4 - 5
5 - 1
5 - 2
5 - 3
5 - 4
5 - 5
6 - 1
6 - 2
6 - 3
6 - 4
6 - 5
7 - 1
7 - 2
7 - 3
7 - 4
7 - 5
8 - 1
8 - 2
8 - 3
8 - 4
8 - 5
9 - 1
9 - 2
9 - 3
9 - 4
9 - 5

#### 실습
- 구구단 2단~9단까지 결과를 전부 출력
- 구구단이 시작될 때는 단수도 출력을 해주세요

In [31]:
for i in range(2, 10) : # 2-9
    
    print(f'구구단 {i} 단')
    
    for j in range(1, 10) : #1-9
        print(f'{i} x {j} = {i*j}')

    print() # \n

구구단 2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

구구단 3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

구구단 4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

구구단 5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

구구단 6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

구구단 7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

구구단 8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

구구단 9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [32]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [40]:
star = 6

for i in range(1, star) : # 1-5 # 행
    
    for j in range(1, i+1) : # 바깥 회전수가 변함에 따라서 내부반복문 회전도 변함
        
        print('*', end = '')
    
    print()

*
**
***
****
*****

In [41]:
'''
*****
****
***
**
*
'''

'\n*****\n****\n***\n**\n*\n'

In [44]:
for i in range(1, star) :
    
    for j in range(1, star-i + 1 ) :
        
        print('*', end= '')
    
    print()

*****
****
***
**
*

In [46]:
'''
    *
   ***
  *****
 *******
*********

내부반복문을 공백을 출력하는 반복문1개, 별을 출력하는 반복문 1개
'''

'\n    *\n   ***\n  *****\n *******\n*********\n\n내부반복문을 공백을 출력하는 반복문1개, 별을 출력하는 반복문 1개\n'

In [60]:
for i in range(1, star) :
    
    for j in range(1, star - i) : # 공백을 출력
        print(' ', end = '')
    
    for j in range(1, i*2) : # 별을 출력
        print('*', end = '')
    
    print()

    *
   ***
  *****
 *******
*********